---
import Layout from '../layouts/Layout.astro';
import CardsFood from '../components/CardsFood.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BotonSubirRcetas from '../components/BotonSubirRcetas.astro';

// Lógica del servidor: Fetch para obtener recetas desde el backend
let recetas = [];

try {
  const response = await fetch('http://localhost:3000/api/recetas');
  recetas = await response.json(); // Asignar los datos a la variable recetas
} catch (error) {
  console.error('Error al obtener recetas:', error);
}
---

<Layout title="Recetas EH">
  <main>
    <Header />
    <div class="container mx-auto px-4 py-8">
      <h2 class="text-2xl font-bold mb-4">Recetas Populares</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        {recetas.map((receta) => (
          <CardsFood 
            href={`/recetas/${receta.ID_RECETA}`} 
            title={receta.NOMBRE_RECETA} 
            body={receta.Descripcion_Receta} 
            src={`src/${receta.IMAGEN_RECETA}`} 
          />
        ))}
      </div>
      <BotonSubirRcetas />
    </div>
    <Footer />
  </main>
</Layout>
