---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

interface Props {
	src: string;
}

const { src } = Astro.props;

---
<Layout title='sumbit recetas'>
    <Header></Header>  
    <script>

    document.addEventListener('DOMContentLoaded', () => {

        // Incrementar visitas al índice
fetch('http://localhost:3000/api/incrementar-visitas', {
  method: 'POST',
  headers: { 'Content-Type': 'application/json' },
  body: JSON.stringify({ categoria: 'subida_recetas_visitas' }), // Cambia la categoría según sea necesario
})
  .then(response => response.json())
  .then(data => console.log('Visita incrementada:', data))
  .catch(error => console.error('Error al incrementar visitas:', error));


    const inputFile = document.getElementById('imageInput');
    const preview = document.getElementById('preview') as HTMLImageElement;
    const uploadForm = document.getElementById('uploadForm');

    // Previsualizar la imagen seleccionada
    inputFile?.addEventListener('change', (event) => {
        const input = event.target as HTMLInputElement;

        if (!input.files || !input.files[0]) {
            console.error("No se seleccionó un archivo");
            return;
        }

        const file = input.files[0];
        const reader = new FileReader();

        reader.onload = function (e) {
            if (e.target?.result) {
                preview.src = e.target.result as string;
            }
        };

        reader.readAsDataURL(file);
    });

    document.getElementById('uploadForm').addEventListener('submit', async (event) => {
    event.preventDefault();

    const formData = new FormData();

    // Obtener el input del archivo y verificar su tipo
    const fileInput = document.getElementById('imageInput') as HTMLInputElement; 
    if (fileInput?.files && fileInput.files[0]) {
        formData.append('image', fileInput.files[0]);
    } else {
        alert('Por favor selecciona una imagen.');
        return;
    }

    // Agregar los datos del formulario al FormData
    const nombreReceta = (document.querySelector('input[name="nombreReceta"]') as HTMLInputElement).value;
    const porciones = (document.querySelector('input[name="porciones"]') as HTMLInputElement).value;
    const tiempoPreparacion = (document.querySelector('input[name="tiempoPreparacion"]') as HTMLInputElement).value;
    const tiempoCoccion = (document.querySelector('input[name="tiempoCoccion"]') as HTMLInputElement).value;
    const ingredientes = Array.from(document.querySelectorAll('.ingrediente')).map(input => (input as HTMLInputElement).value);
    const instrucciones = (document.getElementById('instrucciones') as HTMLTextAreaElement).value;
    const descripcion = (document.getElementById('descripcion') as HTMLTextAreaElement).value;
    const categoria = (document.getElementById('categorias') as HTMLTextAreaElement).value;

    formData.append('nombreReceta', nombreReceta);
    formData.append('porciones', porciones);
    formData.append('tiempoPreparacion', tiempoPreparacion);
    formData.append('tiempoCoccion', tiempoCoccion);
    formData.append('ingredientes', JSON.stringify(ingredientes));
    formData.append('instrucciones', instrucciones);
    formData.append('descripcion', descripcion);
    formData.append('categoria', categoria);

    // Enviar los datos al servidor
    try {
        const response = await fetch('http://localhost:3000/upload', {
            method: 'POST',
            body: formData,
        });

        const result = await response.json();
        if (response.ok) {
            alert('Datos enviados correctamente');
            console.log(result);
        } else {
            alert(`Error: ${result.error}`);
        }
    } catch (error) {
        console.error('Error al enviar los datos:', error);
    }
});


    // Agregar ingredientes dinámicamente
    const botonAgregarIngrediente = document.getElementById('boton-agregar-ingrediente');
    const listaIngredientes = uploadForm.querySelector('ul.list-disc');

    botonAgregarIngrediente?.addEventListener('click', (event) => {
        event.preventDefault();
        const nuevoIngrediente = document.createElement('li');
        nuevoIngrediente.innerHTML = '<input class="ingrediente resize my-1" type="text" placeholder="Ingrediente">';
        listaIngredientes?.appendChild(nuevoIngrediente);
    });
});

    </script>

<div class="container mx-auto px-4 py-8" style="max-width: 800px;">
    <div class="bg-white shadow-md rounded-lg overflow-hidden">
        <!-- Cabecera contenedor -->
        <form id="uploadForm" enctype="multipart/form-data">
            <div class="flex justify-between items-center px-6 py-4 border-b">
                <input type="text" class="text-3xl font-bold" name="nombreReceta" required placeholder="Nombre de la receta">
                <!-- Botones de favoritos y compartir -->
                <div class="flex items-center space-x-4">
                    <!-- Botones de Compartir -->
                    <div class="flex items-center space-x-2">
                        <label for="categorias">Categorias</label>
                        <select name="categorias" id="categorias">     
                            <option value="1">Postre</option>
                            <option value="2">Platos Principales</option>
                            <option value="3">Entradas</option>
                            <option value="4">Desayunos</option>
                            <option value="5">Bebidas</option>
                        </select>
                    </div>
                </div>
            </div>
        
        <div class="mt-8 px-6">
            <h2 class="text-xl font-semibold mb-4">Sube una imagen</h2>
            <input type="file" accept="image/*" id="imageInput" class="hidden" required>
            <label for="imageInput" class="cursor-pointer bg-gray-200 hover:bg-gray-300 text-gray-700 font-semibold py-2 px-4 rounded-lg inline-flex items-center">
                Seleccionar Imagen
            </label>
            <div id="imagePreview" class="mt-4 flex justify-center">
                <img
                    id="preview"
                    src="https://via.placeholder.com/600x442.png?text=Vista+Previa+de+la+Imagen"
                    alt="Vista previa"
                    class="rounded-lg shadow-lg h-[442px] w-[600px]"/>
            </div>
        </div>

        <!-- Descripción -->
        <div class="container mx-auto px-4 py-8" style="max-width: 650px;">
            <h2 class="text-xl font-semibold mb-2">Descripción</h2>
            <textarea required id="descripcion" name="descripcion" rows="3" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"></textarea>
        </div>


                    
                    <!-- Informacion adicional -->
                    <div class="container mx-auto px-4 py-8" style="max-width: 650px;">
                        <div class="mt-8">
                            <h2 class="text-xl font-semibold mb-2">Información Adicional</h2>
                            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                            <div class="border rounded-lg overflow-hidden text-center">
                                <div class="bg-gray-100 px-4 py-2">
                                <p class="text-sm text-gray-600 font-semibold">Porciones</p>
                                </div>
                                <div class="p-4">
                                <input type="number" class="text-lg font-semibold text-center w-12" name="porciones" placeholder="4" required>
                                </div>
                            </div>
                            <div class="border rounded-lg overflow-hidden text-center">
                                <div class="bg-gray-100 px-4 py-2">
                                <p class="text-sm text-gray-600 font-semibold">Tiempo de Preparación</p>
                                </div>
                                <div class="p-4">
                                <p class="text-lg font-semibold"><input class="w-12" type="number" name="tiempoPreparacion" placeholder="20" required> minutos</p>
                                </div>
                            </div>
                            <div class="border rounded-lg overflow-hidden text-center">
                                <div class="bg-gray-100 px-4 py-2">
                                <p class="text-sm text-gray-600 font-semibold">Tiempo de Cocción</p>
                                </div>
                                <div class="p-4">
                                <p class="text-lg font-semibold"><input class="w-12" type="number" name="tiempoCoccion" placeholder="30" required> minutos</p>
                                </div>
                            </div>
                            </div>
                        </div>

                        <!-- Ingredientes-->
                        <div class="mt-8 gap-4">
                            <div>
                                <h2 class="text-xl font-semibold mb-2">Ingredientes</h2>
                                <ul class="list-disc pl-4">
                                    <li><input class="ingrediente resize my-1" type="text" placeholder="Ingrediente 1"></li>
                                </ul>
                                <button id="boton-agregar-ingrediente" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-1 px-2 rounded-lg">Agregar Ingrediente</button>
                            </div>
                            <!-- Instrucciones -->
                            <div class="mt-8">
                                <h2 class="text-xl font-semibold mb-2">Instrucciones</h2>
                                <textarea required id="instrucciones" name="instrucciones" rows="3" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"></textarea>
                            </div>
                        </div>
                        <div class="py-4 flex justify-center">
                            <button type="submit" class="w-[200px]  bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg items-center">Subir</button>
                        </div>    
                    </div>
            </form>
        </div>
    </div>    
    <Footer></Footer>
</Layout>
